<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga magni fugiat officia iste consequuntur quibusdam? Officia iusto, eos deleniti dolore tempora suscipit aut pariatur, nihil ad necessitatibus libero, doloremque possimus!
        </p>
    </div>
</div>